google-cloud-aiplatform>=1.113.0,<2.0.0
proto-plus>=1.25.0
protobuf>=3.20.0,<4.0.0
protobuf3-to-dict>=0.1.5
google-api-core>=2.19.0
grpcio>=1.62.0
google-cloud-firestore>=2.16.0
google-cloud-storage>=2.18.0
google-auth>=2.0.0
requests>=2.25.0
Flask>=3.0.0
firebase-admin>=6.4.0
gunicorn>=21.2.0
